
.formContainer {
  display: flex;
  height: 100%;
  width: auto;
  justify-content: center;
  border: 2px solid darkblue;
}
.form {
  display: flex;
  flex-direction: column;
}

input,
textarea,
.subButton {
  font-family: "Open Sans", sans-serif;
  margin: 4px;
}

.textarea {
  resize: none;
  height: 100px;
}
.subButton {
  width: 75px;
  height: 24px;
  align-self: center;
}
