{
  "presets": ["@babel/preset-env", "@babel/preset-react**"],

  "plugins": [
    [
      "transform-react-jsx",
      {
        "pragma": "dom" // default pragma is React.createElement
      }
    ]
  ]
}
